html, body{
    margin: 0;
    padding: 0;
}
   .head {
    background: url("../images/hero.jpg");
    background-size: cover;
    height: 800px;
}
.main .head .logo{ 
    padding-top: 50px;
}
.mainhead{
    width: 1160px;
    margin: 0 auto;
}
.header .logo{
    float: left;   
}
.menu li{
   display: inline;
float: right;
    color: white; 
}
.menu img{
    width: 65;
    padding-top: 45;
}
.menu p{
padding-top: 42;
}
.head .body{
    padding-top: 250px; 
}
.clear{
    clear: both;
}
.head .body p{
    font-size: 40;
    color: white;
    padding-bottom:15; 
}
.button p:hover{
    border: 2px solid #4a97a8;
  color: #4a97a8;
}
.button1 p:hover{
    border: 2px solid #4a97a8;
    background: #4a97a8;
  color: white;
}
.button1 p{
padding: 20 60 20 60;
margin-left: 16px;
 background: white;
 color: #4a97a8;
border: 2px solid white;
float: left;
}
.button p{
padding: 20 60 20 60;
margin-left: 16px;
border: 2px solid white;
color: white;
float: left;
}
.video img{
  padding-top: 80;
  padding-bottom: 80;
  width: 50;
float: left;
margin-right: 15px; 
}
.video p{
color: #323a45;
  float: left;
font-size: 25;
padding-top: 67;
}
.video {
  margin: 0 auto;
    margin: 0 auto;
    width: 15%;
}
.video p:hover{
    color: #4a97a8;
}
.body .top .left{
background: url(../images/features-intro.jpg);
background-size: cover; 
float: left;
padding: 160px 440px 160px 448.5px;
}
.body .top .right{
    background: #3f6184;
    float: right;
    width: 50%;
    color: white;   
}
.body .top .right p a{
    color: #47b0d4;
  text-decoration: none;
 line-height: 50px;  
}
.body .top .right  span{
    font-size: 25;
  line-height: 50px; 
}
.body .top .right p{
     line-height: 30px;
    padding: 120 100 0 100;
      padding-bottom: 50; 
}
.top_footer{  
    width: 1300px;
   margin: 0 auto;
    color: #73d0da;  
}
.top_footer .form img{
     margin-top: 120;
     float: left;
    margin-right: 30; 
        margin-left: 60;
}
.top_footer .form p{
   margin-top: 85;
   padding-bottom:20 ;
    width: 215;
    float: left;
    color: gray;
    line-height: 25px;  
}
.top_footer .form span{
    font-size:20; 
    line-height: 60px;
       color: black;
}
.top_footer .form a{
    text-decoration: none;
    color: black;
}
.top_footer .form a:hover{
    color: #73d0da;
}
.top_footer .form f a{
  float: left;
     color: #73d0da;
}
.top_footer .form a img{
    width: 25px;
    float: right;  
    margin: 0px 90px 0px 0px;
}
.middle {
    background: url(../images/middle_fon.jpg);  
 background-size: cover;
 height: 595px;
}
.middle .left img{
    float: left ;
    margin-top:35px; 
 margin-left:480px; 
}
.middle .right{
    padding-right: 0px; 
background-size: cover;
margin-left: 100px; 
    float: left; 
     margin-top: 50px;
    width: 680px;
}
.middle .right c p{
      float: left;
 color: white;
     line-height: 25px;
}
.middle .right .icon img{
    margin-top: 20px; 
margin-right:10px; 
float: left;
}
.middle .right t p{  
    float: left;
     color: white;
     width: 400px;
}
.middle .right p span{
    font-size: 20px;
    line-height: 60px;
}
.middle .logo img{
margin-left: 75px; 
margin-top: 10px; 
}
.undermiddle{
    margin: 0 auto;  
    width: 1160px;
    padding-top:30px; 
    padding-bottom:80px; 
}
.undermiddle span{
    line-height: 70px;
    font-size: 25px;
}
.undermiddle a{
    text-decoration: none;
    color: #87d9ec;
}
.undermiddle p{
line-height: 25px;
}
.sonluq .top img{ 
    height: 370;
        width: 472.7px;
}
.orta{
   height: 360px;
    color: white;
     margin: 0 auto;
     width: 15%;    
}
.fonn{     
    background: #3f6184;
}
.fonn .orta .p{
    padding-top: 100px; 
    font-size: 45px;
}
.fonn .orta .button{
    margin-top: 20px;
}
.son{
    width:1170;
    margin: 0 auto;
    margin-top: 90px;      
        height: 45px;
}
.son .right ul li{
color: #456593;
    margin-left: 100px;
display: inline;
}
.son .right ul li:hover{
color: #73d0da;
}
.son .left{   
    margin-top: 10px;     
        float: left;
}
.son .right{
    float: right;
margin-top:10px; 
}
.text6{
    color: #dfd3cc;
width: 1170px;
margin: 0 auto;
}
.text6 p a{
     text-decoration: none;
     color: #73d0da;
}



